@model Dish

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<p><strong>@Model.Category</strong></p>
<p>@Model.Description</p>
<p>Price <strong>@Model.Price</strong></p>
<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-success"type="submit" >To cart</button>
</form>

